<div id="container" class="container container-fluid">
    <hr />
    <footer>
        <p><a href="http://www.baidu.com/" target="_blank">Harry</a> 2017</p>
    </footer>
</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>